{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div>
        <a href="{% url 'findComics:main' %}">&lt;&lt; 처음으로 돌아가기</a>
    </div>
    <div class="myS-result">
        <p><span class="myS-num">{{ comic.title }}</span> 책은 <span class="myS-num">{{ comic.bookcase }}</span> 책장에 있어요.</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>작가</th>
                <th>출판사</th>
                <th>보관 책장</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ comic.author }}</td>
                <td>{{ comic.publisher }}</td>
                <td>{{ comic.bookcase }}</td>
            </tr>
        </tbody>
    </table>
    <div class="myS-viewer">
        <span>위치 보기</span>
        <div id="mapViewer">
            <img id="mapViewerImg" src="" alt="" />
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/mapViewer.js"></script>
<script type="text/javascript">
    const bookcase = '{{comic.bookcase}}';
    document.addEventListener("DOMContentLoaded", function(event) {
        mapViewer(bookcase);
    });
</script>
{% endblock %}