{% load static %}
<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <title>도서 검색 프로그램</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>